.adminControlPanel {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.controlPanelGrid {
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
    place-items: center;
    align-items: start;
}

.controlPanelGrid > ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.controlPanelGrid a {
    color: rgb(182, 61, 61);
    text-decoration: underline;
}