#login-container {
    border: 1px solid #ddd; /* Add border styling as needed */
    padding: 20px; /* Add padding for spacing inside the container */
}

.error-popup {
    position: fixed; /* Or absolute, depending on your layout */
    top: 20%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Or fixed width */
    max-width: 400px; /* Ensures it doesn't get too wide on larger screens */
    background-color: #f8d7da; /* Light red; for the error background */
    color: #721c24; /* Dark red; for the text */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .error-popup p {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  .error-popup button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545; /* Bootstrap danger color for consistency */
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .error-popup button:hover {
    background-color: #c82333; /* Darker shade for hover effect */
  }


.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 35px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.rememberInputBox {
  height: 22px;
  width: 25px;
}

.form-bottom-message { 
  padding-right: 35px;
}

input[type='submit'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}
  
input[type='button'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

label {
  padding-bottom: 10px;
}


