.manage-promotions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .manage-promotions-container input {
    text-align: center;
    height: 39px;
    width: 270px;
    font-size: 1.7rem;
  }

  
  .promotions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }

  .promotions-list > * {
    background-color: #E2DECC;
  }
  
  .promotion-row {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: .6fr 1.4fr .5fr .5fr 1fr 1fr;
  }

  .promotion-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
  }

  .promotion-row input {
    text-align: center;
    width: 80%;
    margin: 18px 0px;
  }

  .edit-button,
  .success-button,
  .delete-button,
  .view-button {
    margin-right: 8px;
  }

  