/* CSS for ManageMovies view */  

.manage-movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .movie-poster {
    max-width: 150px;
    height: auto;
  }
  
  .movie-details {
    /* Your existing styles for movie details */
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }

  .add-movie-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .add-movie-button:hover {
    background-color: #218838;
  }
  