.manage-users-container {
    display: flex;
    justify-content: center;
  }

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.header > div {
  width: 1150px;
}

.new-admin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.users-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.users-list > * {
  background-color: #E2DECC;
}

.users-list h3, h4 {
  font-size: 25px !important;
  margin: 20px 0px;
}

.rows {
  width: 1450px;
  border: 3px solid black;
}

.user-row {
  width: 100%;
  display: grid;
  grid-template-columns: .6fr 1fr .7fr .7fr .7fr 1fr;
}

.user-row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.manage-user {
  font-size: 1.4rem;
  margin: 18px 0px;
}

.user {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-page-header {
  width: 100%;
  margin-top: 30px;
}

.user-container {
  width: 900px;
  background-color: white;
  border-radius: 20px;
  padding: 20px 0px 50px;
  margin-top: 40px;
  margin-bottom: 150px;
  border: 3px solid black;
}

.user-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 40px;
}

.user-header > div {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.user-header div {
  font-size: 1.3rem;
}

.user-column {
  min-height: 700px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-column form {
  width: 600px;
}

.form-options {
  width: fit-content;
  display: grid;
  grid-template-columns: 250px 250px;
  justify-items: center;
  margin: auto;
}

.user-form-submit {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.user-form-submit input {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  width: 300px;
  height: 50px;
}

.default-button {
  width: 270px;
  border: none;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.user-options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-options > div {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.profile-pic > img {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.permission {
  width: 200px;
  display: flex;
  justify-content: center;
}

.permission > div {
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.permission > div > div {
  padding-left: 10px;
  padding-top: 5px;
}

.permission label {
  padding-bottom: 0px;
  font-size: 1.3rem;
}

.add-user-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}