.card {
  align-items: center;
  background: grey;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  width: 400px;
}

.card img {
  max-width: 75%; /* Ensures the image doesn't exceed the card's width */
  max-height: 75%; /* Ensures the image doesn't exceed the card's height */
  //display: block; /* Ensures the image is a block element */
  margin: auto; /* Centers the image horizontally */
}

.movieDetails {
  margin-top: 12px; /* Adjust spacing between image and details */
}


